h1,h2{
	font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
p{
	/*font: 600 15px/1.8 "Lato", sans-serif;*/
	margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
body, html{
	/*font-family: 'Scada', sans-serif;*/
  margin: 0 auto;
  height: 100%;
  margin: 0 auto;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #3a3a3a;
  background-color: #f1f1f1;
}
span{
  background-color: #6d6d6d
}



/*work entries*/
.container{
  display: inline-block;
	position: relative;
	width: 40%;
  padding: 0px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.image{
	width: 100%;
	height: 100%;
  padding: 0px;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
  right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
  padding: 0px;
	transition: .5s ease;
	background-color: #6d6d6d;
}
.container:hover .overlay {
	opacity: .85;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.text {
	color: white;
	font-size: 30px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	opacity: 1;
}



/*parallax scrolling*/
.parallax1, .parallax2, .parallax3{
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1{
  height:35%;
	background-image: url(img_parallax.jpeg);
}
.parallax2{
  height:35%;
	background-image: url(img_parallax2.jpg);
}
.parallax3{
  height:35%;
	background-image: url(img_parallax3.jpg);
}
.parallax4{
  height: 40%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(img_parallax4.jpg);
}
.caption {
  position: relative;
  /*font-family: 40px 'Playfair Display SC', serif;*/
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fffeff;
  padding:5px;
  /*letter-spacing: 10px;*/
}
.quote{
  position: relative;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fffeff;

}
/*.caption span.border {
  background-color: #6d6d6d;
  color: #fffeff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}*/
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}



/*navigation bar*/
header {
  width: 80%;
  padding: 0 10%;
  height: 50px;
  position: fixed;
  margin-bottom: 10px;
  margin-top: 0px;
  z-index: 10;
  background-color: #6d6d6d;
}
nav {
  float: right;
  display: inline-block;
}
nav ul {
  list-style-type: none;
  text-align-center;
  padding: 0;
  margin: 0;
  background-color: #6d6d6d;
}
nav li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #b4b4b4;
  display: block;
  text-align: center;
  transition: all .65s;
}
nav a:hover {
  background-color: #6d6d6d;
  color: #fff;
}